@import 'variables.scss';

* {
  font-family: monaco;
}

body {
  background: $body-bg;
}

img {
  width: 50%;
}

.box {
  width: 50%;
  height: 200px;
  margin-bottom: 2rem;
  padding: 1rem;
  background: $box-bg;
}
